.container {
    background-color: #ffffff;
    border-left: 1px solid #f3f3f3;
    border-right: 1px solid #f3f3f3;
}
body {
    background-color: #ffffff;
    background: url('../images/background.gif');
    font-family: 'Droid Sans', sans-serif;
}
body, a {
    color: #616562;
}
.clear {
    clear: both;
}
header.container {
    padding: 20px 85px;
}
header a:hover {
    text-decoration: none;
}
header .navbar-header .navbar-brand>span {
    color: #8e44ad;
}
footer.container {
    text-align: center;
    padding: 30px 0 20px;
    background-color: #fafafa;
    border: 1px solid #f3f3f3;
}
#navbar li>a:hover {
    color: #8e44ad;
    text-decoration: none;
}
#navbar li>a.active {
    color: #8e44ad;
}
@media (min-width: 1200px) {
    body {
        padding-top: 90px;
    }
    .container {
        padding: 10px 85px;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    body {
        padding-top: 85px;
    }
    header.container {
        padding-left: 25px;
        padding-right: 25px;
    }
    .container {
        padding: 10px 25px;
    }
    .nav>li>a {
        padding: 15px 8px;
    }
}
@media (max-width: 767px) {
    body {
        padding-top: 65px;
    }
    .container {
        padding: 10px 20px;
    }
    header.container {
        padding: 8px 20px;
    }
}