<h2>Choose your photos!</h2>
<br />

{% if errorMessage != '' %}
    <p class="alert alert-danger">ERROR: {{ errorMessage }}</p>
{% elseif success %}
    <p class="alert alert-info">Success! Thank you for your submission!</p>
{% endif %}

<form action="/" method="post">
    <div>
        <label for="email">Your Email:</label>
        <input type="email" name="email" id="email" autocomplete="off" class="form-control form-control-lg" value="{{ email }}" placeholder="email@kippphotography.com" />
    </div>
    <br />
    <div>
        <label for="choices">Photo Choices: (multiple choices separated by spaces)</label>
        <input type="text" name="choices" id="choices" autocomplete="off" class="form-control" value="{{ choices }}" placeholder="1 2 4 6" />
    </div>
    <br />
    <input type="submit" name="submit" id="submit" class="btn btn-primary btn-lg" value="Submit" />
</form>