{% include('header.twig') %}

<h2>Please choose an event</h2>

<ul>
{% for event in events %}
    <li><a href="/?event={{ event.id }}">{{ event.name }}</a></li>
{% endfor %}
</ul>

{% include('footer.twig') %}