</div>
<footer class="container">
    <p class="small">All Rights Reserved. Kipp Photography {{ "now"|date("Y") }}</p>
    <p class="small"><a href="/results">View Results</a></p>
</footer>
<script type="text/javascript" src="//code.jquery.com/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>