{% include('header.twig') %}

<h2>Results - {{ event.name }}</h2>

<div class="row">
    <div class="pull-left col-sm-3">
        <table class="table">
            <thead>
            <tr>
                <th>Event Choices</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td><a href="/results?event={{ event.id }}">{{ event.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="pull-right col-sm-9">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Email</th>
                <th>Photo Choices</th>
            </tr>
            </thead>
            <tbody>
            {% if eventData|length == 0 %}
                {% if event != null %}
                    <tr><td colspan="2"><span>No results for this event</span></td></tr>
                {% else %}
                    <tr><td colspan="2"><span>Please select an event</span></td></tr>
                {% endif %}

            {% else %}
                {% for data in eventData %}
                    <tr>
                        <td>{{ data.email }}</td>
                        <td>{{ data.photo_choices }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% include('footer.twig') %}